@charset "UTF-8";

/* ========= Reset ========= */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* ============================= */

.test {
	color: red;
}