@charset "EUC-KR";


.content {
	width : 100%
}
header {
	width : 100%;
	height : 100px;
}
.snb {
	width : 100%;
	height : 1500px;
}
.snb-bro {
	width : 100%;
	height : 1500px;
	
}
.title-box {
	width : 100%;
	height : 120px;
	padding-left : 25px; 
}
.board-box {
	width : 100%;
	height : 1380px;
	display : flex;
	flex-wrap : wrap;
	justify-content : space-between;
}
.dash-body{
	width : 100%;
	height : 1500px;
	display : flex;
	justify-content : space-between;
}
.box-type1 {
	width : 100%;
	height : 350px;
	padding : 0px 10px;
	 
	flex-shirink : 0;
} 
.box-type1-1 {
	width : 100%;
	height : 150px;
	padding : 0px 10px;
	 
	flex-shirink : 0;
} 
.box-type2 {
	width : 49%;
	height : 170px;
	padding : 0px 10px;
	 
	flex-shirink : 0;
} 
.box-type2-1 {
	width : 49%;
	height : 300px;
	padding : 0px 10px;
	 
	flex-shirink : 0;
} 
.box-type3 {
	width : 32%;
	height : 380px;
	padding : 0px 10px;

	flex-shirink : 0;
} 
.box-type4 {
	width : 32%;
	height : 250px;
	padding : 0px 10px;
 
	flex-shirink : 0;
} 
.radius {
	border : 1px solid black;
	border-radius : 10px;
}
.weather {
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
}
h4 {
	font-size : 0.8em;
	margin : 5px 0px;
}

.chart-2 {
    width : 100%;
    height : 300px;	
}
element.style {
	height : 270px ! importants;
}

.short-box {
	width : 32%;
	height : 260px;
	padding : 0px 5px;
	display : flex;
	flex-direction : column;
	justify-content : space-evenly;
	font-size : 1.3em;
}
.next {
    height : 20px;
    display : flex;
    justify-content : center;
}
.search-box{
	display : flex;
	justify-content : space-evenly;
}

.input-2 {
    width : 100%;
    height : 35px;
    padding-left : 10px;
    box-sizing : border-box;    
}
[name=clean_status] {
	width : 120%;
    height : 30px;    
}
.up-1 {
	height : 20px;
}
.c-box {
	width : 100%;
}

