

/* ========= header ========== */

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
	
    padding: 10px;

    border-bottom: 1px solid var(--color-border);
}

.headerContent {
	display: flex;
	gap: 10px;
	align-items: center;
}

.headerRight {
	gap: 20px;
	margin-right: 20px;

    position: relative;
}



#logo {
    width: 40px;
}

.pageName {
	font-size: 20px;
	font-weight: 700;
	
	margin: 0 10px;

    display: flex;
    align-items: center;
}



.alarmBtn svg {
	margin-top: 3px;
}
.alarmBtn {
    border-radius: 7px;
    
    padding: 5px 10px;
}
.alarmBtn:hover {
    box-shadow: 0 2px 4px var(--color-bg-hover);
}



.alarm-box {
  position: absolute;
  top: 50px;   /* 버튼 아래 */
  right: 100px;

  width: 300px;
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  
  padding: 20px;

  display: none;
}

.alarm-header {
	display: flex;
	justify-content: space-between;
	
	font-weight: 700;
	
	margin-bottom: 10px;
}

.alarm-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.alarm-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  
  font-size: 14px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  gap: 10px;
}

.alarm-item:last-child {
  border-bottom: none;
}


.profile {
	font-weight: 700;
}
