

/* ========= header ========== */

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
	
    padding: 10px;

    border-bottom: 1px solid var(--color-border);
    
    height: 65px;
    
    position: sticky;
  	top: 0;
  	z-index: 1000;
  	
  	background-color: white;
}

.headerContent {
	display: flex;
	gap: 10px;
	align-items: center;
}

.headerLeft {
	cursor: pointer;
}

.headerRight {
	gap: 20px;
	margin-right: 20px;

    position: relative;
}



#logo_header {
    width: 40px;
}

.pageName_header {
	font-size: 20px;
	font-weight: 700;
	
	margin: 0 10px;

    display: flex;
    align-items: center;
}



.alarmBtn_header svg {
	margin-top: 3px;
}
.alarmBtn_header {
    border-radius: 7px;
    
    padding: 5px 10px;
}
.alarmBtn_header:hover {
    box-shadow: 0 2px 4px var(--color-bg-hover);
}



.alarm-box_header {
  position: absolute;
  top: 50px;   /* ��ư �Ʒ� */
  right: 100px;

  width: 300px;
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  
  padding: 20px;

  display: none;
}

.alarm-header {
	display: flex;
	justify-content: space-between;
	
	font-weight: 700;
	
	margin-bottom: 10px;
}

.alarm-list_header {
  list-style: none;
  margin: 0;
  padding: 0;
}

.alarm-item_header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  
  font-size: 14px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  gap: 10px;
}

.alarm-item_header:last-child {
  border-bottom: none;
}


.profile_header {
	font-weight: 700;
	font-size: 14px;
}
.profile_header:hover {
	text-decoration: underline;
}

@media (max-width: 768px) {
	 .headerContainer {
	 	width: 100vw;
	 }
	
}
