@charset "UTF-8";

/* ========= Reset ========= */

:root {
  --color-bg-hover: #d1d1d1;

  --color-border: #bdbdbd;

  --color-text-sub: #6b7280;
  --color-text-soft: #9ca3af;

  --color-main-blue: #4774E9;
  --color-main-hover: #1d4ed8;
  --color-sub-blue: #AED1FF;
  --color-sub-hover: #9cbfec;
  
  --color-main-red: #E94747;
  --color-sub-red: #ff9f9f;
  --color-red-hover: #d43a3a;
  
  --color-white-hover: #eeeeee;
  
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%
}

button {
  all: unset;
  cursor: pointer;
  
  border: none;
}

li {
	list-style : none;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit;        /* 부모 요소의 글자 색상 상속 */
  cursor: pointer;       /* 마우스 포인터 유지 (필요시 default로 변경) */
}

a:hover {
  text-decoration: none; /* 호버 시에도 밑줄 없음 */
}


/* ========= button ========= */

.buttonMain {
	display: flex;
	align-items : center;
	gap: 10px;
	padding: 5px 12px;
	
	border-radius: 5px;
	background-color: var(--color-main-blue);
	
	color: white;
	font-size: 14px;
	font-weight: 700;
}

.buttonMain:hover {
    background-color: var(--color-main-hover);
}

.buttonSub {
	display: flex;
	align-items : center;
	gap: 10px;
	padding: 5px 12px;
	
	border-radius: 5px;
	background-color: var(--color-sub-blue);
	
	color: white;
	font-size: 14px;
	font-weight: 700;
}

.buttonSub:hover {
	background-color: var(--color-sub-hover);
}

.buttonRed {
	display: flex;
	align-items : center;
	gap: 10px;
	padding: 5px 12px;
	
	border-radius: 5px;
	background-color: var(--color-main-red);
	
	color: white;
	font-size: 14px;
	font-weight: 700;
}

.buttonRed:hover {
    background-color: var(--color-red-hover);
}

.buttonRed:hover {
    background-color: var(--color-red-hover);
}

.buttonWhite {
	display: flex;
	align-items : center;
	gap: 10px;
	padding: 5px 12px;
	
	border: 1px solid var(--color-border);
	border-radius: 5px;
	background-color: white;
	
	color: var(--color-text-soft);
	font-size: 14px;
	font-weight: 700;
}

.buttonWhite:hover {
	background-color: var(--color-white-hover);
}

.content {
	padding: 15px 30px;
}
