.box-type4 {
	width: 850px;
	height: 800px;
	padding: 0px 10px;
	margin: 0px 15px;
	flex-shirink: 0;
	padding: 0px 60px;
}

.board-box {
	width: 850px;
	height: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mp-title {
	width: 700px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content : space-evenly;
	margin : 30px 0px;
	
}

.radius {
	border: 1px solid black;
	border-radius: 10px;
}


.per-chain {
	width: 650px;
	height: 40px;
	display: flex;
	justify-content : space-between;
	padding : 5px 20px;
	 
	
}
.model-close {
	width : 700px;
	height : 30px;
	display: flex;
}
h2 {
    width : 630px;
    height : 50px;
    margin : 0px;
    margin-left : 10px;
    
}
.grant {
	width: 150px;
	height: 30px;
}
.per-tool {
	margin : 10px 0px;
}
span {
	margin-left : 10px;
}
.per-btn{
	width : 20px;
	display: flex;
	justify-content : center;
	margin : 0px 10px;
}
form {
	width: 700px;
	height: 540px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.snb-bro {
	width: 1000px;
	height: 900px;
	display : flex;
	justify-content : center;
	align-items : center;
}
.next {
    height : 20px;
    display : flex;
    justify-content : center;
}